@font-face {
    font-family: 'myFont';
    src: url('./myFont.woff') format('woff');
    font-weight: 600;
    font-style: 'normal'
}
body {
    margin: 0;
}
.desc {
    color: #666;
    font-size: 20px;
    font-family: 'myFont';
    text-align: center;
    margin-top: 20px;
}
.show {
    width: 100vw;
    margin-top: 20px;
}